header{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #1976d2;
    color: white;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    >span{
        &:hover{
            text-decoration: none;
            cursor: pointer;
            color: rgb(241, 114, 10);
        }
    }
    ul{
        list-style: none;
        li{
            &:hover{
                text-decoration: none;
                cursor: pointer;
                color: rgb(241, 114, 10);
            }
        }
    }
}